<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if site.indexing and page.layout != 404 %}
    {% seo %}
    {% else %}
    <meta name="robots" content="none">
    {% if page.title %}
    <title>{{ site.title | prepend: ' | ' | prepend: page.title }}</title>
    {% else %}
    <title>{{ site.title | append: ' | ' | append: site.description }}</title>
    {% endif %}
    {% endif %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/icons/favicon.ico' | relative_url }}">
    <link rel="manifest" href="{{ 'assets/icons/site.webmanifest' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/leaflet.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/open-color.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">

    <meta property="og:site_name" content="SURE">
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:title" content="{{ page.title }}" />

    {% if page.feature_image and page.feature_image != "" %}
    <meta property="og:image" content="{{ page.feature_image | absolute_url }}" />
    <meta name="twitter:image" content="{{ page.feature_image | absolute_url }}" />
    {% else %}
    <meta property="og:image" content="{{ site.favicon | absolute_url }}" />
    <meta name="twitter:image" content="{{ site.favicon | absolute_url }}" />
    {% endif %}

    <meta property="og:url" content="{{ page.url | replace:'index.html', '' | absolute_url }}">
    {% if page.description %}
    <meta property="og:description" content="{{ page.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    {% endif %}
    <meta property="og:locale" content="en_US">

    {% if site.favicon and site.favicon != "" %}
    <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/png" />
    {% endif %}
</head>