<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SURE Workshop {{ page.year }}</title>
  <link rel="stylesheet" href="/assets/main.css"/>
</head>
<body>
  <div class="container">
    <div class="header-container" style="display: flex; align-items: center; gap: 1rem;">
      <img src="/assets/sure_logo.png" alt="SURE logo" style="height: 6rem; width: auto;" />
      <div>
        <h1 style="font-size: 2.25rem; font-weight: bold;">SURE</h1>
        <p style="color: #304050; font-size: 1.125rem; margin-top: -1rem;">The Workshop on Software Understanding and Reverse Engineering</p>
      </div>
    </div>

    <div class="tabs">
      <nav>
        <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a>
        <a href="/cfp" {% if page.url contains "/cfp" %}class="active"{% endif %}>Call for Papers</a>
        <a href="/organizers" {% if page.url contains "/organizers" %}class="active"{% endif %}>Organizers</a>
        <a href="/faq" {% if page.url contains "/faq" %}class="active"{% endif %}>FAQ</a>
      </nav>

      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>
</body>
</html> 