---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<main class="my-4">
  <div class="container">
    <h1 class="display-3">{{ page.title }}</h1>
    <p class="lead">{{ description }}</p>
    <hr class="my-4">
    {{ content }}

    {% assign items = site.data.faqs.faqs %}
    {% if items %}
      <hr class="my-4">
      {% for faq in items %}
        <div class="mb-4">
          <h5 class="fw-normal organizer-group-title">{{ faq.question }}</h5>
	  {{ faq.answer | markdownify }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</main>

{% include footer.html %}

